# APP
NODE_ENV=development
API_PORT=8000

# JWT
JWT_SECRET=""

# WEBPAGE
WEBPAGE_BASE_URL="https://capivara-solidaria.com.br"

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/capivara-solidaria-db"

# OAUTH SECRETS
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# DEBUG
DEBUG=true

# RESEND API KEY
RESEND_API_KEY=""
EMAIL_FROM=noreply@capivara-solidaria.com.br
APP_URL="https://capivara-solidaria.com.br"

# OPENAI CONFIG
OPENAI_API_KEY=""
OPENAI_API_TOKEN_BASE_URL=""
OPENAI_ORGANIZATION_ID=""
OPENAI_PROJECT_ID=""

POSTHOG_READABLE_API_KEY=""
POSTHOG_API_HOST=""
POSTHOG_PROJECT_ID=""