# JWT
JWT_SECRET=

# WEBPAGE
WEBPAGE_BASE_URL=http://localhost:3000

# DATABASE
DATABASE_URL=

# OAUTH SECRETS
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# DEBUG
DEBUG=true

# RESEND API KEY
RESEND_API_KEY=
EMAIL_FROM=noreply@capivara-solidaria.com.br
APP_URL="http://localhost:3000"

# OPEN TELEMETRY
# GRAFANA_CLOUD_OTLP_ENDPOINT=
# GRAFANA_CLOUD_AUTH=
# OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4317
# OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://otel-collector:4317
# OTEL_METRIC_EXPORT_INTERVAL=30000
# OTEL_METRIC_EXPORT_TIMEOUT=10000

# GRANAFA - DEV
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://localhost:4317
OTEL_METRIC_EXPORT_INTERVAL=30000
OTEL_METRIC_EXPORT_TIMEOUT=10000
NODE_ENV=development

# OPENAI CONFIG
OPENAI_API_KEY=
OPENAI_API_TOKEN_BASE_URL=
OPENAI_ORGANIZATION_ID=
OPENAI_PROJECT_ID=
