name: "Build and Deploy"

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  PROJECT_NAME: ${{ vars.PROJECT_NAME }}
  REGION: ${{ vars.REGION }}
  IMAGE_TAG: ${{ github.sha }}
  NODE_VERSION: ${{ vars.NODE_VERSION }}
  IMAGE_LIST: ${{ vars.NODE_IMAGE }}

jobs:
  build-deploy:
    name: "Build and Deploy"
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set credentials
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "ENVIRONMENT_CREDENTIALS=prod" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        working-directory: ./tf
        run: terraform init

      - name: Terraform Apply
        working-directory: ./tf
        run: |
          terraform apply -auto-approve
          echo "EC2_HOST=$(terraform output -raw server_public_ip)" >> $GITHUB_ENV
        env:
          TF_VAR_key_name: ${{ vars.EC2_KEY_NAME }}
          TF_VAR_project_name: ${{ env.PROJECT_NAME }}
          TF_VAR_region: ${{ env.REGION }}
          TF_VAR_env: "prod"

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1.5.3

      - name: Pull image
        id: pull-ecr
        run: |
          for IMAGE in $IMAGE_LIST; do
            echo "Pulling image: $IMAGE"
            docker pull "${{ steps.login-ecr.outputs.registry }}/$IMAGE"
            docker tag "${{ steps.login-ecr.outputs.registry }}/$IMAGE" "$IMAGE"
          done

      - name: Load .env From Secrets Manager
        run: |
          secret_data=$(aws secretsmanager get-secret-value --secret-id prod/ifsp-extensao-api --output json | jq -r '.SecretString')
          echo "$secret_data" | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> .env

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ifsp-extensao-api-module-prod
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG \
            -f Dockerfile \
            --build-arg NODE_VERSION="${{ env.NODE_VERSION }}" \
            --no-cache=true .

          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Copy .env to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ env.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: ".env"
          target: "/home/ec2-user/app"
          debug: true

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ifsp-extensao-api-module-prod
          IMAGE_TAG: ${{ github.sha }}
          CONTAINER_NAME: api-ifsp
        with:
          host: ${{ env.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: ECR_REGISTRY,ECR_REPOSITORY,IMAGE_TAG,CONTAINER_NAME
          script_stop: true
          script: |
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin $ECR_REGISTRY

            docker pull $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

            docker stop $CONTAINER_NAME || true
            docker rm $CONTAINER_NAME || true

            docker run -d \
              --name $CONTAINER_NAME \
              --restart unless-stopped \
              --env-file /home/ec2-user/app/.env \
              -p 80:8000 \
              $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

            docker system prune -f
